body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #0f0f0f, #141e30, #1f1c2c, #000000);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  color: white;
  overflow-x: hidden;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.app {
  width: 100%;
}

.hero {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  background: url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4");
  background-size: cover;
  background-position: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}





.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
}

.hero h1 {
  font-size: 4rem;
  text-shadow: 0 0 20px rgba(229, 9, 20, 0.8);
}


.hero p {
  font-size: 1.2rem;
  color: #ccc;
}

.search-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 420px;
  padding: 14px 18px;
  border-radius: 30px 0 0 30px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  color: white;
  outline: none;
  font-size: 16px;
}


.search-box button {
  box-shadow: 0 0 20px rgba(229, 9, 20, 0.6);
}


.search-box button:hover {
  background: #b20710;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
  padding: 60px;
  animation: fadeSection 0.8s ease;
}

@keyframes fadeSection {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  animation: fadeInUp 0.6s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.card:hover {
  transform: scale(1.08);
}

.card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

.card:hover .overlay {
  transform: translateY(0);
}

.overlay h3 {
  margin: 0;
  font-size: 16px;
}

.overlay p {
  margin: 5px 0;
  font-size: 14px;
  color: #ccc;
}




.loading {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #e50914;
}

.type {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: rgba(229, 9, 20, 0.9);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}
